@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
    background: transparent;
}

.lista{
    margin-left: 70vh;
    display: flex;
}

.lista li{
    list-style: none;
}

.lista li a{
    font-size: 16px;
    font-family: 'Shantell Sans', cursive;
    color: red;
    text-decoration: none;
    margin-left: 10vh;
    transition: 0.5s;
}

.lista a:hover{
    opacity: 1.5;
    color: brown;
}

.container-geral{
    height: 150vh;
    align-items: center;
    margin-top: 4%
}

.container{
    display: flex;
    height: 55vh;
}


.txt-container {
    margin-top: 6%;
    width: 80%;
    align-items: center;
    text-align: center;
}

.txt-container h1{
    margin-left: 8%;
    text-align: justify;
    color: red;
    font-size: 85px;
    font-family: 'Shantell Sans', cursive;
}

.img-container{
    height: 55vh;
    background: url('../img/img2.png') no-repeat;
    background-size: 450px;
    background-position: right;
    width: 40%;
    align-items: center;
}

.container-2{
    display: flex;
    height: 90vh;
}

.container-cal{
    margin-left: 15%;
    align-items: center;
    margin-top: 5%;
    width: 30%;
    height: 75vh;
}

.calculadora{
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);    
    border-radius: 12px;
    height: 70vh;
    margin-left: 5%;
    margin-right: 5%;
}

.img-container2{
    text-align: center;
    align-items: center;
    margin-top: 5%;
    width: 50%;
    height: 75vh;

}

.img-container2 img{
    margin-top: 4%;
    height: 400px;
}

.img-container2 p{
    font-size: 20px;
    margin-top: 4%;
    color: #864823;
    letter-spacing: 2px;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Shantell Sans', cursive;
}

.form{
    width: 100%;
    margin-top: 20%;
    margin-left: 5%;
    margin-right: 5%;
    height: 40vh;
}

.form label{
    font-size: 20px;
    margin-top: 4%;
    color: white;
    letter-spacing: 2px;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Shantell Sans', cursive;
}

.form input{
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.form button{
    font-family: 'Shantell Sans', cursive;
    color: white;
    background-color: red;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 1em;
    transition: 0.3s;
}

.form button:hover{
    opacity: 0.8;
    background-color:#864823;
}