@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
    background: transparent;
}

.lista{
    margin-left: 70vh;
    display: flex;
}

.lista li{
    list-style: none;
}

.lista li a{
    font-size: 16px;
    font-family: 'Shantell Sans', cursive;
    color: red;
    text-decoration: none;
    margin-left: 10vh;
    transition: 0.5s;
}

.lista a:hover{
    opacity: 1.5;
    color: brown;
}

.container-geral{
    height: 76vh;
    align-items: center;
    margin-top: 4%
}

.container{
    display: flex;
    height: 25vh;
}

.container-2{
    display: flex;
    height: 25vh;
}

.txt-container {
    margin-top: 2%;
    width: 100%;
    align-items: center;
    text-align: center;
}

.txt-container h1{
    margin-left: 8%;
    text-align: justify;
    color: red;
    font-size: 100px;
    font-family: 'Shantell Sans', cursive;
}

.txt-container2 {
    width: 60%;
    align-items: center;
    text-align: center;
}

.txt-container2 h1{
    margin-left: 13%;
    text-align: justify;
    color: red;
    font-size: 100px;
    font-family: 'Shantell Sans', cursive;

}

.img-container2{
    margin-top: 3%; 
    height: 48vh;
    background: url('../img/img1.png') no-repeat;
    background-size: 500px;
    background-position: right;
    width: 40%;
    align-items: center;
}
